<div class= "container-fluid">
  <div class= "row">
    <div class= "col-md-10 offset-1 mt-3">
      <h1>投稿会員ログイン</h1>
    </div>
    <div class="col-md-4 offset-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field mt-3 text-center">
          <h3><%= f.label :email, "メールアドレス" %></h3>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", size:50 %>
        </div>
        <div class="field text-center">
          <h3><%= f.label :password, "パスワード" %></h3>
          <%= f.password_field :password, autocomplete: "current-password", size:50 %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div class="actions">
          <%= f.submit "ログイン", class:"btn btn-outline-success" %>
        </div>
      <% end %>
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>

