<p id="notice"><%= notice %></p>
<div class="container px5 px-sm-0">
    <div class="row">
        <div class="col-md-8 offset-md-1">
          <p></p>
          <h2>Book detail</h2>
          <table class="table table-hover table-inverse">
            <tbody>
              <tr>
                <td>
                  <%= attachment_image_tag @post_find.user, :profile_image, size:"40x40", fallback: "no_image.jpg" %>
                </td>
                <td><%= @post_find.post %></td>
              </tr>
            </tbody>
          </table>
　　　　　<h4><strong>コメント</strong></h4>
          <table class="table table-hover table-inverse">
            <tbody>
                <% @post_find.comments.each do |comment| %>
                  <tr>
                    <td>
                      <%= attachment_image_tag comment.user, :profile_image, size:"40x40", fallback: "no_image.jpg" %>
                    </td>
                    <td>
                      <%= post_comment.comment %>
                    </td>
                  <!--<td>-->
                    <!--% if book_comment.user == current_user %>-->
                    <!--<div class="comment_delete">-->
                      <!--%= link_to "destroy", post_comment_path(book_comment.book, book_comment), method: :delete %>-->
                    <!--</div>-->
                    <!--% end %>-->
                  <!--</td>-->
                  </tr>
                <% end %>
               </tbody>
              </table>
              <%= form_with(model:[@post_find, @comment], local: true) do |f| %>
              <table class=="table table-hover table-inverse">
                <tbody>
                  <tr>
                    <%= f.text_area :comment, rows: '5',placeholder: "コメントをここに" %>
                    <%= f.submit "送信" %>
                  </tr>
                </tbody>
              </table>
              <% end %>
      </div>
    </div>
  </div>