<div class= "container">
  <div class= "row">
    <div class= "offset-2 col-10">
      <h2 class= "mt-4 pb-3">家族会員サインアップ</h2>
       <% if @member.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <strong>入力内容にエラーがあります</strong>
          <ul>
            <% @member.errors.each do |attr, msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_with url: searchmember_path, method: :get, local: true do |f| %>
      <table class="table">
        <% if @familycode.blank? %>
          <!--<tr>-->
          <!--  <th>-->
          <!--    %= f.label :"家族コード認証済み" %>-->
          <!--  </th>-->
          <!--  <td>-->
          <!--    %= f.text_field :cd, readonly: true %>-->
          <!--  </td>-->
          <!--</tr>-->
        <!--% else %>-->
          <tr>
            <th>
              <%= f.label :"家族コード登録" %>
            </th>
            <td>
              <%= f.text_field :cd %>
              <%= f.submit '検索する'  %>
            </td>
          </tr>
        <% end %>
      </table>
      <% end %>
      <% if @familycode.present? %>
      <%= form_with model: @member, url: member_registration_path, local: true do |f| %>
      <table class="table">
         <tr>
          <th>
            <%= f.label :"顔写真" %>
          </th>
          <td>
            <%= f.attachment_field :profile_image, size: "200x200" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"氏名" %>
          </th>
          <td>
            <%= f.text_field :name, autofocus: true, placeholder:"山田太郎", class:"col-md-3" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"カナ氏名" %>
          </th>
          <td>
            <%= f.text_field :name_kana, placeholder: "ヤマダタロウ", class:"col-md-3" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"電話番号" %>
          </th>
          <td>
            <%= f.number_field :telephone_number, placeholder: "ハイフン無しで入力下さい", class:"col-md-3" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"生年月日" %>
          </th>
          <td>
            <span>
              <%= f.number_field :birth_year ,class:"col-md-1" %>年
            </span>
            <span>
              <%= f.number_field :birth_month ,class:"col-md-1" %>月
            </span>
            <span>
              <%= f.number_field :birth_day ,class:"col-md-1" %>日
            </span>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"メールアドレス" %><br />
          </th>
          <td>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"パスワード" %>
          </th>
          <td>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"パスワード確認"%><br />
          </th>
          <td>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"家族コード" %>
          </th>
          <td>
            <%= f.hidden_field :familycode_id, :value =>@familycode_id, readonly: true %>
            <!--%= Familycode.where(family_code: @familycode.family_code) %>-->
            <!--%= f.collection_select :familycode_id, Familycode.where(family_code: @familycode.family_code), :id, :family_code ,readonly: true %>-->
            <strong class="text-success">登録済み</strong>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.submit "登録する" %>
          </td>
        </tr>
      </table>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
