<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-5">
      <h2>家族からメッセージ</h2>
      <% @posts.each do |post| %>
        <% post.comments.each do |comment| %>
          <table class='table table-hover table-inverse'>
            <tbody>
              <tr>
                <td>
                  <%= attachment_image_tag comment.member, :profile_image, size:"100x100", fallback: "no_image.jpg" %>
                </td>
                <td>
                  <h2><%= comment.comment %>(<%= post.created_at.strftime('%d日%H:%M') %>)</h2>
                </td>
              </tr>
            </tbody>
          </table>
        <% end %>
      <% end %>
      <%= paginate @posts %>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="submitarea">
        <div class="submitbtn">
          <%= form_with model: @post,url:posts_path, local:true do |f| %>
            <%= f.hidden_field :post, :value => "おはよう" %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit "おはよう", class: "btn-primary w-100 h-100"  %>
          <% end %>
        </div>
        <div class="submitbtn">
          <%= form_with model: @post,url:posts_path, local:true do |f| %>
            <%= f.hidden_field :post, :value => "ご飯食べたよ" %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit "ご飯食べたよ", class: "btn-primary w-100"  %>
          <% end %>
        </div>
        <div class="submitbtn">
          <%= form_with model: @post,url:posts_path, local:true do |f| %>
            <%= f.hidden_field :post, :value => "おやすみ" %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit "おやすみ", class: "btn-primary w-100"  %>
          <% end %>
        </div>
        <div class="submitbtn">
          <%= form_with model: @post,url:posts_path, local:true do |f| %>
            <%= f.hidden_field :post, :value => "SOS" %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit "SOS", class: "btn-danger w-100"  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>