<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-5">  <!--scr-->
    <h4>最新投稿</h4>
      <% @posts.each do |post| %>
      <%= attachment_image_tag current_user, :profile_image, size:"100x100", fallback: "grand.png" %>
      <h1><%= post.post %></h1>
      <h2><%= post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></h2>
      <%= paginate @posts %>
      <h2>家族からメッセージ</h2>
        <% post.comments.each do |comment| %>
          <table class='table table-hover table-inverse'>
            <tbody>
              <tr>
                <td>
                  <%= attachment_image_tag comment.member, :profile_image, size:"200x200", fallback: "no-image.jpg" %><br>
                  <%= comment.member.nickname %>
                </td>
                <td>
                  <h2>
                    <%= comment.comment %><br>
                    (<%= post.created_at.strftime('%Y/%m/%d %H:%M:%S') %>)
                  </h2>
                </td>
              </tr>
            </tbody>
          </table>
        <% end %>
      <% end %>
      </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="submitarea">
        <div class="submitbtn">
          <%= form_with model: @post,url:posts_path, local:true do |f| %>
            <%= f.hidden_field :post, :value => "おはよう" %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit "おはよう", class: "btn-primary w-100 h-100"  %>
          <% end %>
        </div>
        <div class="submitbtn">
          <%= form_with model: @post,url:posts_path, local:true do |f| %>
            <%= f.hidden_field :post, :value => "ご飯食べたよ" %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit "ご飯食べたよ", class: "btn-primary w-100"  %>
          <% end %>
        </div>
        <div class="submitbtn">
          <%= form_with model: @post,url:posts_path, local:true do |f| %>
            <%= f.hidden_field :post, :value => "おやすみ" %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit "おやすみ", class: "btn-primary w-100"  %>
          <% end %>
        </div>
        <div class="submitbtn">
          <%= form_with model: @post,url:posts_path, local:true do |f| %>
            <%= f.hidden_field :post, :value => "SOS" %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit "SOS", class: "btn-danger w-100"  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>