<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1">
      <h1>投稿詳細</h1>
      <table class="table tablef text-center">
        <tbody>
          <tr class="margin-0">
            <td class="text-center">
              <% if @post.user.gender == "男性" %>
                <%= attachment_image_tag @post.user, :profile_image, size:"150x150", format: 'jpeg', fallback:"grand-papa.png" %>
              <% elsif @post.user.gender == "女性" %>
                <%= attachment_image_tag @post.user, :profile_image, size:"150x150", format: 'jpeg', fallback:"grand-mama.png" %>
              <% else %>
                <%= attachment_image_tag @post.user, :profile_image, size:"150x150", format: 'jpeg', fallback:"grand.png" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <h1><%= @post.user.nickname %></h1><br>
              <% if @post.post == "SOS" %>
                <h1 class="text-danger">電話番号:<%= link_to @post.user.telephone_number, "tel:" + @post.user.telephone_number %></h1>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>
              <h3><strong>投稿内容↓</strong></h3>
            </th>
          </tr>
          <tr>
            <td class="text-center">
              <% if @post.post == "SOS" %>
                <h1 class="text-danger"><strong><%= @post.post %></strong></h1>
                <h2 class="text-danger"><%= @post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></h2>
              <% else %>
                <h1><strong><%= @post.post %></strong></h1>
                <h2><%= @post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></h2>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-5 offset-md-1">
        <h1>コメント</h1>
        <div id="comments_area">
          <%= render partial: 'comments/comment', locals: { comments: @comments } %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-5 offset-md-1">
        <div class="comment-create text-center">
          <h3 class="text-left">コメントする</h3>
          <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
        </div>
      </div>
    </div>
</div>
