<p id="notice"><%= notice %></p>
<div class="container px5 px-sm-0">
    <div class="row">
        <div class="col-md-8 offset-md-1">
          <p></p>
          <h2>投稿詳細</h2>
          <table class="table table-hover table-inverse">
            <tbody>
              <tr>
                <td>
                  <%= attachment_image_tag @post.user, :profile_image, size:"200x200", fallback: "grand.png" %>
                </td>
                <td>
                  <%= @post.user.name %>
                </td>
                <td><%= @post.post %></td>
              </tr>
            </tbody>
          </table>
　　　　　<h4><strong>コメント</strong></h4>
　　　　　<div class="row">
        <div id="comments_area">
            <%= render partial: 'comments/comment', locals: { comments: @comments } %>
        </div>
    <% if member_signed_in? %>
        <div class="comment-create">
            <h3 class="text-left">レビューを投稿する</h3>
            <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
        </div>
    <% end %>
</div>