<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 offset-1">
      <p></p>
      <h1>投稿詳細</h1>
      <table class="table table-hover table-inverse">
        <tbody>
          <tr>
            <td>
              <%= attachment_image_tag @post.user, :profile_image, size:"200x200", fallback: "grand.png" %>
            </td>
            <td>
              <h1><%= @post.user.nickname %></h1>
            </td>
            <td>
              <h1><%= @post.post %></h1>
              <h2><%= @post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></h2>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <div class="row">
      <div class="col-md-5 offset-1">
        <h1>コメント</h1>
        <div id="comments_area">
          <%= render partial: 'comments/comment', locals: { comments: @comments } %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="comment-create">
          <h3 class="text-left">レビューを投稿する</h3>
          <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
        </div>
      </div>
    </div>
</div>
