<!DOCTYPE html>
<html>
  <head>
    <title>Notice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body class="d-flex flex-column vh-100 background_image">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light justfy-content-between">
        <div class="container-fluid">
          <a class="navbar-brand p-2" href="/"><%= image_tag('logo.png') %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if member_signed_in? %>
                <li class="nav-item"><%= link_to 'プロフィール', member_path(current_member), class: "btn btn-success" %></li>
                <li class="nav-item"><%= link_to '投稿一覧', posts_path, class: "btn btn-success" %></li>
                <li class="nav-item"><p><%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: "btn btn-success" %></p></li>
                <li class="nav-item"><%= link_to 'お問い合わせ', inquiry_path, class:"btn btn-success" %></li>
              <% elsif admin_signed_in? %>
                <li class="nav-item"><%= link_to 'ユーザ一覧', admin_users_path , class: "btn btn-success" %></li>
                <li class="nav-item"><%= link_to '家族会員一覧', admin_members_path, class: "btn btn-success" %></li>
                <li class="nav-item"><%= link_to '投稿一覧', admin_posts_path, class: "btn btn-warning" %></li>
                <li class="nav-item"><%= link_to '家族コード一覧', admin_familycodes_path, class: "btn btn-warning" %></li>
                <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-success" %></li>
              <% elsif user_signed_in? %>
                <li class="nav-item"><%= link_to 'プロフィール', user_path(current_user), class: "btn btn-success" %></li>
                <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-success" %></li>
                <li class="nav-item"><%= link_to '投稿', new_post_path, class: "btn btn-success" %></li>
                <li class="nav-item"><%= link_to 'お問い合わせ', inquiry_path, class:"btn btn-success" %></li>
              <% else %>
                <li class="nav-item"><%= link_to '家族コード作成', new_familycode_path, class: "btn btn-success" %></li>
                <li class="nav-item"><%= link_to '家族登録', new_member_registration_path, class: "btn btn-success" %></li>
                <li class="nav-item"><%= link_to '家族ログイン', member_session_path, class: "btn btn-success" %></li>
                <li class="nav-item"><%= link_to 'おじ登録', new_user_registration_path, class: "btn btn-success" %></li>
                <li class="nav-item"><%= link_to 'おじログイン', user_session_path, class: "btn btn-success" %></li>
                <li class="nav-item"><%= link_to 'お問い合わせ', inquiry_path, class:"btn btn-success" %></li>
              <% end %>
            </ul>
          </div>
          <!--</div>-->
        </div>
      </nav>
    </header>
    <main class="mb-auto">
      <% if member_signed_in? %>
        <div class= "welcome">
          <span class="name">ようこそ!!<%= current_member.name %>様</span>
        </div>
      <% elsif user_signed_in? %>
        <div class= "welcome">
          <span class="name">ようこそ!!<%= current_user.name %>様</span>
        </div>
      <% end %>
      <%= yield %>
    </main>
    <footer class="bg-success text-white pt-5 pb-4">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">
            <p>安心できる暮らしを作るお手伝いSNS</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>