<!DOCTYPE html>
<html>
  <head>
    <title>Notice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if member_signed_in? %>
        <div class= "welcome">
          <span class="name">Welcome to 家族.<%= current_member.name %></span>
        </div>
      <% elsif user_signed_in? %>
        <div class= "welcome">
          <span class="name">Welcome to おじい.<%= current_user.name %></span>
        </div>
      <% end %>
      <div>
        <strong id="notice"><%= notice %></strong>
      </div>
      <div>
        <nav class="navbar  navbar-expand-lg navbar-light text-align-center gnav">
          <ul class="navbar-nav justfy-content-center height-60px">
            <% if member_signed_in? %>
              <li class="nav-item"><%= link_to 'プロフィール', member_path(current_member), class: "btn btn-warning" %></li>
              <li class="nav-item"><%= link_to '投稿一覧', members_posts_path, class: "btn btn-warning" %></li>
              <li class="nav-item"><p><%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: "btn btn-warning" %></p></li>
            <% elsif admin_signed_in? %>
              <!--<li class="nav-item">%= link_to 'ユーザ一覧', admin_products_path , class: "btn btn-warning" %></li>-->
              <!--<li class="nav-item">%= link_to '家族会員一覧', admin_members_path, class: "btn btn-warning" %></li>-->
              <!--<li class="nav-item"%= link_to '注文履歴一覧', admin_orders_path, class: "btn btn-warning" %></li>-->
              <!--<li class="nav-item">%= link_to 'ジャンル一覧', admin_genres_path, class: "btn btn-warning" %></li>-->
              <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-warning" %></li>
            <% elsif user_signed_in? %>
              <li class="nav-item"><%= link_to 'プロフィール', user_path(current_user), class: "btn btn-warning" %></li>
              <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-warning" %></li>
              <li class="nav-item"><%= link_to '投稿一覧', users_posts_path, class: "btn btn-warning" %></li>
            <% else %>
               <li class="nav-item"><%= link_to '家族登録', new_member_registration_path, class: "btn btn-warning" %></li>
               <li class="nav-item"><%= link_to '家族ログイン', member_session_path, class: "btn btn-warning" %></li>
               <li class="nav-item"><%= link_to 'おじ登録', new_familycode_path, class: "btn btn-warning" %></li>
               <li class="nav-item"><%= link_to 'おじログイン', user_session_path, class: "btn btn-warning" %></li>
            <% end %>
          </ul>
        </nav>
                <!--<div class="search_container d-flex justify-content-end pr-4 s-space">-->
                <!--  % if request.fullpath.include?("admin/member") &&  admin_signed_in? %>-->
                <!--    %= form_with url: admin_members_path, method: :get, local: true do |f| %>-->
                <!--      %= f.text_field :word, :value => @word , placeholder: "  を入力して下さい(管理者)"  %>-->
                <!--      %= f.submit "" %>-->
                <!--    % end %>-->
                <!--  % elsif request.fullpath.include?("admin/products")  &&  admin_signed_in? %>-->
                <!--    %= form_with url: admin_products_path, method: :get, local: true do |f| %>-->
                <!--      %= f.text_field :word, :value => @word , placeholder: "  を入力して下さい(管理者)" %>-->
                <!--      %= f.submit "" %>-->
                <!--    % end %>-->
                <!--  % elsif request.fullpath.include?("admin") != true  %>-->
                <!--    %= form_with url: products_path, method: :get, local: true do |f| %>-->
                <!--      %= f.text_field :word, placeholder: "  を入力して下さい"%>-->
                <!--      %= f.submit "" %>-->
                <!--    % end %>-->
                <!--  % end %>-->
                <!--</div>-->
      </div>
    </header>
    <%= yield %>
  </body>
</html>
