<div class="container-fuluid">
  <div class="row">
    <div class="col-md-10 offset-1">
      <h1>家族会員一覧</h1>
      <% @members.each do |member| %>
      <table>
        <tbody>
        <tr>
          <th>
            <%= member.id %>
          </th>
          <td>
            <%= member.name %>
          </td>
          <td>
            <%= member.address %>
          </td>
          <td>
            <%= member.telephone_number %>
          </td>
          <td>
            <%= member.email %>
          </td>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>