<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <table class="table tablef">
                    <tr>
                        <th>
                            <% if comment.member.gender == "男性" %>
                              <%= attachment_image_tag comment.member, :profile_image, size:"150x150", format: 'jpeg', fallback:"men.png" %><br>
                            <% elsif comment.member.gender == "女性" %>
                              <%= attachment_image_tag comment.member, :profile_image, size:"150x150", format: 'jpeg', fallback:"women.png" %><br>
                            <% else %>
                              <%= attachment_image_tag comment.member, :profile_image, size:"150x150", format: 'jpeg', fallback:"no-image.jpg" %><br>
                            <% end %>
                            <%= comment.member.nickname %>
                        </th>
                        <td>
                            <%= comment.comment %>
                            <% if comment.member == current_member %>
                                <%= link_to post_comment_path(comment.post_id, comment.id), method: :delete, remote: true, class: "comment_destroy" do %>
                                    <i class="fas fa-trash" style="color: black;"></i>
                                <% end %>
                            <% end %><br>
                            <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
  <% end %>
<% end %>