<div class= "container">
  <div class= "row">
    <div class= "offset-1 col-10">
      <h2 class= "mt-4 pb-3">
        おじおば会員サインアップ
      </h2>
      <% if @user.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <strong>入力内容にエラーがあります</strong>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if @familycode.blank? %>
      <%= form_with url: searchuser_path, method: :get, local: true do |f| %>
      <table class="table">
        <% if flash[:danger] %>
        <div class="alert alert-danger" role="alert">
          <strong>入力内容にエラーがあります</strong>
          <ul>
            <%= flash[:danger] %>
          </ul>
        </div>
        <% end %>
        <tr>
          <th>
            <%= f.label :"家族コード登録" %>
          </th>
          <td>
            <%= f.text_field :cd %>

            <%= f.submit '検索する'  %>

          </td>
          <% end %>
        </tr>
      </table>
      <% end %>
      <%= form_with model: @user, url:users_path, local:true do |f| %>
      <% if @familycode.present? %>
      <!--%= render "users/shared/error_messages", resource: resource %>-->
      <table class="table">
        <tr>
          <th>
            <%= f.label :"顔写真" %>
          </th>
          <td>
            <%= f.attachment_field :profile_image, size: "200x200" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"氏名" %>
          </th>
          <td>
            <%= f.text_field :name, autofocus: true, placeholder:"山田太郎", class:"col-md-4" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"カナ氏名" %>
          </th>
          <td>
            <%= f.text_field :name_kana, placeholder: "ヤマダタロウ", class:"col-md-3" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"ニックネーム" %>
          </th>
          <td>
            <%= f.text_field:nickname, placeholder: "ヤーマダ", class:"col-md-3" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"性別" %>
          </th>
          <td>
            <%= f.radio_button :gender, :男性 %>
            <%= f.label :"男性" %>
            <%= f.radio_button :gender, :女性 %>
            <%= f.label :"女性" %>
            <%= f.radio_button :gender, :回答無し %>
            <%= f.label :"回答無し" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"電話番号" %>
          </th>
          <td>
            <%= f.number_field :telephone_number, placeholder: "ハイフン無しで入力下さい", class:"col-md-3" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"生年月日" %>
          </th>
          <td>
            <%= f.date_select :birth_date, start_year:1900 %>
        </tr>
        <tr>
          <th>
            <%= f.label :"都道府県" %>
          </th>
          <td>
            <%= f.select :address, User.address_areas.keys, {}, class:"col-md-3" %>
          </td>
        </tr>
        <tr>
        </tr>
        <tr>
          <th>
            <%= f.label :"メールアドレス" %><br />
          </th>
          <td>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"パスワード" %>
          </th>
          <td>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"パスワード確認"%><br />
          </th>
          <td>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"家族コード" %>
          </th>
          <td>
            <%= f.hidden_field :familycode_id, :value =>@familycode_id, readonly: true %>
            <strong class="text-success">検索した家族コードを登録済み</strong>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.submit "登録する" %>
          </td>
        </tr>
      </table>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
