<div class= "container">
  <div class= "row">
    <div class= "offset-2 col-10">
      <h2 class= "mt-4 pb-3">
        おじおば会員サインアップ
      </h2>
      <%= form_with url: search_path, method: :get, local: true do |f| %>
      <table class="table">
        <tr>
          <% if @familycode.present? %>
          <th>
            <%= f.label :"家族コード検索" %>
          </th>
          <td>
            <%= f.text_field :cd, readonly: true %>
          </td>
          <% else %>
          <th>
            <%= f.label :"家族コード検索" %>
          </th>
          <td>
            <%= f.text_field :cd %>

            <%= f.submit '検索する'  %>

          </td>
          <% end %>
        </tr>
      </table>
      <% end %>
      <%= form_with model: @user, url:users_path, local:true do |f| %>
      <% if @familycode.present? %>
      <%= render "users/shared/error_messages", resource: resource %>
      <table class="table">
        <tr>
          <th>
            <%= f.label :"顔写真" %>
          </th>
          <td>
            <%= f.attachment_field :profile_image, size: "200x200" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"氏名" %>
          </th>
          <td>
            <%= f.text_field :name, autofocus: true, placeholder:"山田太郎", class:"col-md-3" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"カナ氏名" %>
          </th>
          <td>
            <%= f.text_field :name_kana, placeholder: "ヤマダタロウ", class:"col-md-3" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"電話番号" %>
          </th>
          <td>
            <%= f.number_field :telephone_number, placeholder: "ハイフン無しで入力下さい", class:"col-md-3" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"生年月日" %>
          </th>
          <td>
            <span>
              <%= f.number_field :birth_year ,class:"col-md-1" %>年
            </span>
            <span>
              <%= f.number_field :birth_month ,class:"col-md-1" %>月
            </span>
            <span>
              <%= f.number_field :birth_day ,class:"col-md-1" %>日
            </span>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"メールアドレス" %><br />
          </th>
          <td>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"パスワード" %>
          </th>
          <td>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"パスワード確認"%><br />
          </th>
          <td>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"家族コード選択" %>
          </th>
          <td>
            <%= f.collection_select :familycode_id, Familycode.where(family_code: @familycode.family_code), :id, :family_code ,readonly: true %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.submit "登録する" %>
          </td>
        </tr>
      </table>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
