<div class="container-fuluid">
  <div class="row">
    <div class="col-md-10 offset-1">
      <h1>家族コード作成画面</h1>
      <!--% if @familycode.errors.any? %>-->
      <!--  <div class="alert alert-danger" role="alert">-->
      <!--    <strong>入力内容にエラーがあります</strong>-->
      <!--    <ul>-->
      <!--      % @familycode.errors.each do |attr, msg| %>-->
      <!--        <li>%= msg %></li>-->
      <!--      % end %>-->
      <!--    </ul>-->
      <!--  </div>-->
      <!--% end %>-->
      <%= form_with model:@famly_code, url:familycodes_path,local:true do |f| %>
        <table class="table">
          <tr>
            <th>
              <%= f.label "家族コード" %>
            </th>
            <td>
              <%= f.text_field :family_code %>
            </td>
          </tr>
          <tr>
            <th>
              <%= f.submit "家族コードの作成" %>
            </th>
            <td>
              <%= link_to "家族コード発行済みの方はコチラ", new_user_registration_path %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
