<div class="container-fuluid">
  <div class="row">
    <div class="col-md-10 offset-1">
      <%= form_for @inquiry, :url => inquiry_confirm_path do |f| %>
        <div class="page-title mt-3">
          <h1>お問い合わせ</h1>
        </div>
        <% if @inquiry.errors.any? %>
          <div class="alert alert-danger" role="alert">
            <strong>入力内容にエラーがあります</strong>
            <ul>
              <% @inquiry.errors.each do |attr, msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <table class="table tablef">
          <tr>
            <th><h3>名前<span class="text-danger">（必須）</span></h3></th>
            <td><%= f.text_field :name, size:50 %></td>
          </tr>
          <tr>
            <th><h3>メールアドレス<span class="text-danger">（必須）</span></h3></th>
            <td><%= f.text_field :email, size:50 %></td>
          </tr>
          <tr>
            <th><h3>お問い合わせ内容</h3></th>
            <td><%= f.text_area :message, size:"50x10" %></td>
          </tr>
          <tr>
            <th></th>
            <td>
              <%= f.submit '確認', class: 'btn btn-outline-dark text-right' %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
