おじ会員プロフィール情報編集画面
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-1">
      <p class="page-title">
        プロフィール情報編集画面
      </p>
      <%= form_with model:@user, url:user_path(@user), local:true do |f| %>
      <%= render "users/shared/error_messages", resource: @user %>
      <table class="table">
        <tr>
          <th>
            <%= f.label :顔写真 %>
          </th>
          <td>
            <%= f.attachment_field :profile_image, size: "200x200" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label "氏名" %>
          </th>
          <td>
            <%= f.text_field :name, autofocus: true, placeholder:"山田太郎", class:"col-md-3" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :カナ名前 %>
          </th>
          <td>
            <%= f.text_field :name_kana, placeholder: "ヤマダタロウ", class:"col-md-3" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :電話番号 %>
          </th>
          <td>
            <%= f.number_field :telephone_number, placeholder: "ハイフン無しで入力下さい", class:"col-md-3" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :生年月日 %>
          </th>
          <td>
            <span>
              <%= f.number_field :birth_year ,class:"col-md-1" %>年
            </span>
            <span>
              <%= f.number_field :birth_month ,class:"col-md-1" %>月
            </span>
            <span>
              <%= f.number_field :birth_day ,class:"col-md-1" %>日
            </span>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :email %><br />
          </th>
          <td>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"家族コード選択" %>
          </th>
          <td>
            <%= f.collection_select :familycode_id, Familycode.all, :id, :family_code ,prompt: '--選択してください--' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.submit "更新する" %>
          </td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>