おじ会員プロフィール情報編集画面
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-1">
      <p class="page-title">
        プロフィール情報編集画面
      </p>
      <% if @user.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <strong>入力内容にエラーがあります</strong>
          <ul>
            <% @user.errors.each do |attr, msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_with model:@user, url:user_path(@user), local:true do |f| %>
      <%= render "users/shared/error_messages", resource: @user %>
      <table class="table">
        <tr>
          <th>
            <%= f.label :顔写真 %>
          </th>
          <td>
            <%= f.attachment_field :profile_image, size: "200x200" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label "氏名" %>
          </th>
          <td>
            <%= f.text_field :name, autofocus: true, placeholder:"山田太郎", class:"col-md-3" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :カナ名前 %>
          </th>
          <td>
            <%= f.text_field :name_kana, placeholder: "ヤマダタロウ", class:"col-md-3" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"ニックネーム" %>
          </th>
          <td>
            <%= f.text_field:nickname, placeholder: "ヤーマダ", class:"col-md-3" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :電話番号 %>
          </th>
          <td>
            <%= f.number_field :telephone_number, placeholder: "ハイフン無しで入力下さい", class:"col-md-3" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :生年月日 %>
          </th>
          <td>
            <%= f.date_select :birth_date, start_year:1900 %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"都道府県" %>
          </th>
          <td>
            <%= f.select :address, User.address_areas.keys, {}, class:"col-md-3" %>
          </td>
        </tr>
        <tr>
        <tr>
          <th>
            <%= f.label :email %><br />
          </th>
          <td>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :"家族コード" %>
          </th>
          <td class="text-danger">
            <strong>編集不可</strong>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.submit "更新する" %>
          </td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>