<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
      <h1 class="mt-3">質問一覧</h1>
    </div>
     <div class= "col-xs-10 col-sm-10 offset-sm-1 col-md-6 offset-md-3">
      <table class="table tablef">
        <thead>
          <th class="text-center">質問相手</th>
          <th class="text-center">質問内容</th>
          <th class="text-center">質問時間</th>
          <th class="text-center">返信</th>
        </thead>
        <% @questions.each do |question| %>
        <tbody>
            <td class="text-center">
              <%= link_to question_path(question) do %>
                <%= question.user.name %>
              <% end %>
            </td>
            <td class="text-center">
              <%= question.body %>
            </td>
            <td class="text-center">
              <%= question.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
            </td>
            <td class="text-center">
              <% if question.user_answer.blank? %>
                <p class="text-danger">未返信</p>
              <% else %>
                <%= question.user_answer %>
              <% end %>
            </td>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>