<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
      <h1 class="mt-3">質問一覧</h1>
    </div>
    <div class= "col-xs-10 col-sm-10 offset-sm-1 col-md-6 offset-md-3">
      <% @questions.each do |question| %>
        <div class="card w-60 text-center">
          <h1 class="text-center"><strong><%= question.user.nickname %>様への質問</strong></h1>
          <div class="card-image-top text-center">
            <% if question.user.gender == "男性" %>
              <%= attachment_image_tag question.user, :profile_image, size:"150x150", format: 'jpeg', fallback:"grand-papa.png" %><br>
            <% elsif question.user.gender == "女性" %>
              <%= attachment_image_tag question.user, :profile_image, size:"150x150", format: 'jpeg', fallback:"grand-mama.png" %><br>
            <% else %>
              <%= attachment_image_tag question.user, :profile_image, size:"150x150", format: 'jpeg', fallback:"grand.png" %><br>
            <% end %>
          </div>
          <h2 class="text-center">質問内容:<%= question.body %></h2>
          <h3 class="text-center">(<%= question.created_at.strftime('%Y/%m/%d %H:%M:%S') %>)</h3>
          <% if question.user_answer.present? %>
            <h1 class="text-center text-danger">
              返信内容:<%= question.user_answer %><br>
              <%= question.updated_at.strftime('%Y/%m/%d %H:%M:%S') %>
            </h1>
          <% else %>
            <h1 class="text-danger">未返信</h1>
          <% end %>
        </div>
      <% end %>
      <%= paginate @questions %>
    </div>
  </div>
</div>
