<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
      <h1 class="mt-3">質問投稿</h1>
    </div>
     <div class= "col-xs-10 col-sm-10 offset-sm-1 col-md-6 offset-md-3">
       <% if @question.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <strong>入力内容にエラーがあります</strong>
          <ul>
            <% @question.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_with model: @question, url:questions_path, method: :post, local:false do |f| %>
      <table class="table tablef">
        <tr>
          <th>
            <%= f.label :user_id, "質問相手" %><span class="text-danger">(必須)</span>
          </th>
        </tr>
        <tr>
          <td>
            <%= f.select :user_id, @users.collect{ |u| [ u.nickname, u.id] }, class:"form-size" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :body, "質問内容" %><span class="text-danger">(必須)</span>
          </th>
        </tr>
        <tr>
          <td>
            <%= f.text_area :body, class:"form-size" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :choices1, "回答選択肢1" %><span class="text-danger">(必須 10文字以内)</span>
          </th>
        </tr>
        <tr>
          <td>
            <%= f.text_field :choices1, class:"form-size" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :choices2, "回答選択肢2" %><span class="text-danger">(必須 10文字以内)</span>
          </th>
        </tr>
        <tr>
          <td>
            <%= f.text_field :choices2, class:"form-size" %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :choices3, "回答選択肢3" %><span>(任意 10文字以内)</span>
          </th>
        </tr>
        <tr>
          <td>
            <%= f.text_field :choices3, class:"form-size" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.hidden_field :member_id, :value => current_member.id %>
            <%= f.submit "質問する", class:"form-size btn-success" %>
          </td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>