<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1>投稿詳細</h1>
      <table class="table">
        <thread>
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">氏名</th>
            <th class="text-center">投稿</th>
            <th class="text-center">投稿時間</th>
          </tr>
        </thread>
        <tbody>
          <tr>
            <td class="text-center"><%= @post.id %></td>
            <td class="text-center">
              <%= link_to admin_user_path(@post.user) do %>
                <%= @post.user.name %>
              <% end %>
            </td>
            <td class="text-center"><%= @post.post %></td>
            <td class="text-center"><%= @post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <div class="row">
      <div class="col-md-10 offset-1">
        <% if @post.comments.present? %>
          <h1>コメント</h1>
          <table class="table">
            <thread>
              <tr>
                <th class="text-center">コメントID</th>
                <th class="text-center">氏名</th>
                <th class="text-center">コメント</th>
                <th class="text-center">コメント時間</th>
              </tr>
            </thread>
          　<tbody>
          　   <% @comments.each do |comment| %>
          　   <tr>
          　     <td class="text-center">
          　       <%= comment.id %>
          　     </td>
          　     <td class="text-center">
          　       <%= comment.member.name %>
          　     </td>
          　     <td class="text-center">>
          　       <%=comment.comment %>
          　     </td>
          　     <td class="text-center">
          　       <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
          　     </td>
          　   </tr>
          　  <% end %>
          　</tbody>
          </table>
          <%= paginate @comments %>
        <% else %>
          <h1 class="text-danger mt-5">・この投稿に対するコメントはありません。</h1>
        <% end %>
      </div>
    </div>
  </div>
</div>
