<div class="container-fuluid">
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
      <%= search_form_for @q, url: search_admin_users_path do |f| %>
        <%= f.label :email, 'メールアドレス' %>
        <%= f.search_field :email_cont %>
        <% f.submit '検索' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-1">
      <h1>投稿会員一覧</h1>
      <table class="table">
        <thread>
          <tr>
            <th><%= sorttable "id", "ID" %></th>
            <th><%= sorttable "name_kana", "氏名" %></th>
            <th><%= sorttable "gender", "性別" %></th>
            <th><%= sorttable "address","都道府県" %></th>
            <th><%= sorttable "telephone_number", "電話番号" %></th>
            <th><%= sorttable "email", "メールアドレス" %></th>
            <th><%= sorttable "posts.count", "投稿数" %></th>
            <th><%= sorttable "created_at", "登録日時" %></th>
          </tr>
        </thread>
        <% @users.each do |user| %>
        <tbody>
        <tr>
          <th>
            <%= user.id %>
          </th>
          <td>
            <%= link_to admin_user_path(user) do %>
              <%= user.name %>
            <% end %>
          </td>
          <td>
            <%= user.gender %>
          </td>
          <td>
            <%= user.address %>
          </td>
          <td>
            <%= user.telephone_number %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%= user.posts.count %>回
          </td>
          <td>
            <%= user.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
          </td>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>