<div class="container-fuluid">
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
      <%= search_form_for @q, url: search_admin_users_path do |f| %>
        <%= f.label :email_cont, 'メールアドレス' %>
        <%= f.search_field :email_cont, placeholder:"メールアドレス" %>
        <% f.submit '検索' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-1">
      <h1>投稿会員検索結果</h1>
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">氏名</th>
            <th class="text-center">性別</th>
            <th class="text-center">都道府県</th>
            <th class="text-center">電話番号</th>
            <th class="text-center">メールアドレス</th>
            <th class="text-center"><%= sort_link(@q, :created_at, "登録日時") %></th>
          </tr>
        </thead>
        <% @results.each do |user| %>
        <tbody>
        <tr>
          <th class="text-center">
            <%= user.id %>
          </th>
          <td class= "text-center">
            <%= link_to admin_user_path(user) do %>
              <%= user.name %>
            <% end %>
          </td>
          <td class= "text-center">
            <%= user.gender %>
          </td>
          <td class= "text-center">
            <%= user.address %>
          </td>
          <td class= "text-center">
            <%= user.telephone_number %>
          </td>
          <td class= "text-center">
            <%= user.email %>
          </td>
          <td class= "text-center">
            <%= user.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
          </td>
        </tbody>
        <% end %>
      </table>
      <%= paginate @results %>
    </div>
  </div>
</div>